* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel.carousel-slider {
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination-bullet{
  background-color: white !important;
}